body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid red;
    padding: 20px;
   
}


.button-container{
    display: flex;
    border: 1px solid black;
}

.operator-container {
    display: flex;
    flex-direction: column;
}


.number-container {
    border: 1px solid red;
}


.input-container {

    
}

.input-container textarea{
    background-color: rgb(185, 235, 245);
    
    
}

.button {
    width: 33.3%;
}

