body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
   
}


.button-container{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: space-between;
   
}


.button {
    width: 10px;
    height: 30px;
    background-color: lightblue;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
}

@media (max-width: 800px) {
    .button {
      width: calc(25% - 20px); /* Four items per row with some margin */
    }
  }

.container #input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid green;
    text-align: right;
    padding-right: 5px;
}

