body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
   
}


.button-container{
    display: flex;
    border: 1px solid black;
    
}







.button {
    width: 25%;
    opacity: .6;
  
}

.container #input {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid green;
    text-align: right;
    padding-right: 5px;
}

